/* GENERAL */

body {
	background-color: #3394EC;
	padding-top: 50px;
	margin: auto;
	font-family: 'Nunito', sans-serif;
	text-align: center;
}

p {
	color: #FFF;
}

/* LOGO */

img {
	height: 35px;
}

/* FORM */

form {
	background-color: #F8F9F9;
	width: 400px;
	border-radius: 2px;
	padding: 20px 40px 40px 40px;
	margin: 50px auto;
	box-sizing: border-box;
	text-align: left;
}

h1 {
	font-size: 30px;
	color: #5F6A6A;
	font-weight: lighter;
	padding: 30px;
	text-align: center;
}

label {
	font-size: 14px;
	font-weight: bold;
}

button {
	margin: auto;
}

input {
	width: 320px;
	border: 2px solid #CCC;
	border-radius: 2px;
	height: 55px;
	display: block;
	font-size: 16px;
	padding: 15px;
	margin: 10px auto 10px auto;
	box-sizing: border-box;
}

input::placeholder {
	padding: 20px;
}

button {
	background-color: #27AE60;
	width: 320px;
	height: 55px;
	border: 2px solid #27AE60;
	padding: 15px;
	border-radius: 2px;
	color: #FFF;
	font-size: 20px;
	font-weight: 400;
	display: block;
	margin: 20px auto;
}

button:hover {
	background-color: #1E8449;
}

.password {
	color: #888;
	font-size: 14px;
	display: block;
	text-align: center;
}
/* FOOTER */

.login {
	color: #FFF;
	font-weight: 400;
	margin-top: -20px;
}